#homeHeaderContainer{
    background-image: url('../../assets/images/suzuki.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.homeHeaderOverlay{
    position: inherit;
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeHeaderTextContainer{
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeHeaderText{
    font-size: 50px;
    font-weight: 500;
}

.homeHeaderSubtext{
    font-size: 16px;
}

.registerForm{
    width: 50%;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
    padding: 50px;
    color: #ffffff;
}

.registerFormHeading{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

#register{
    width: 85%;
}

#register label{
    color: #ffffff !important;
}


@media only screen and (max-width: 1024px){
    .registerForm{
        width: 80%;
    }
}

@media only screen and (max-width: 700px){
    .registerForm{
        width: 80%;
    }
    .homeHeaderTextContainer{
        width: 90%;
        margin: 50px auto auto auto;
    }
    .homeHeaderText,.registerFormHeading{
        font-size: 30px;
    }
}

@media only screen and (max-width: 575px){
    .registerForm{
        width: 90%;
        padding: 50px 20px;
    }
    #register{
        width: 100%;
    }
    .homeHeaderText,.registerFormHeading{
        font-size: 25px;
    }

}